html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $neutralClr3;
  font-family: $mainFont;
  font-weight: 800;
}

.main-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutralClr2;
  width: 500px;
  margin: auto;
  margin-top: 10em;
  border-radius: 12px;
  height: 300px;

  #advice-reroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $primaryClr2;
    border: none;
    cursor: pointer;
  }

  #advice-number {
    color: $primaryClr2;
    letter-spacing: 4px;
    font-size: $fontSmall;
  }

  #advice-quote {
    color: $primaryClr1;
    font-size: $fontLrg;
    text-align: center;
  }
}
