html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $neutralClr3;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutralClr2;
  width: 600px;
  margin: auto;
  margin-top: 10em;
  border-radius: 20px;
  height: 40vh;
}
