$primaryClr1: hsl(193, 38%, 86%);
$primaryClr2: hsl(150, 100%, 66%);

$neutralClr1: hsl(217, 19%, 38%);
$neutralClr2: hsl(217, 19%, 24%);
$neutralClr3: hsl(218, 23%, 16%);

$fontLrg: 28px;
$fontSmall: 12px;
$mainFont: "Manrope", sans-serif;

@import "./layout";
